@font-face {
    font-family: NunitoExtrabold;
    src: url(../fonts/nunito/Nunito-ExtraBold.ttf)
}

.container-pagina{

    width: 65% !important;
    margin: auto !important;
    /* border: 1px solid; */
    margin-top: 30px !important;
}

.lista_usuarios{

    /* border: 1px solid; */
}

.topoDadosPagina{

    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

.tituloPagina{

    font-family: NunitoExtrabold;
    margin-top: 10px;
    color: #961517;
}

#botaoVoltar{

    background-color: #212529;
    color: white;
}

.area-inputs{

    display: flex;
}

.container-input{

    width: 30%;
}

.container-select{

    width: 20%;
}

.container-input > label{

    margin-bottom: 10px;
}

.areaChecks{

    /* margin-top: 50px; */
}

#listaCheckBox{

    /* display: inline; */
    margin-top: 45px;
    padding-left: 0px !important;
}

#listaCheckBox li{

    display: inline;
    margin-left: 15px;
}