@font-face {
    font-family: NunitoExtrabold;
    src: url(../fonts/nunito/Nunito-ExtraBold.ttf)
}


*{
    margin: 0px;
}

body{

    background: #e1ecf2;
}

header{

    background: -webkit-linear-gradient(left, #9c1d1c, #c0392b);
    height: 50px;
    padding-left: 40px;
    padding-right: 20px;
    display: flex !important;
    justify-content: space-between !important;
}

#nomeEmpresaArea{

    font-family: NunitoExtrabold;
    color: white;
    padding: 10px;
    font-size: 16pt;
}

#dadosUserLogado{

    font-family: NunitoExtrabold;
    color: white;
    padding: 10px;
    font-size: 11pt;
    margin-top: 5px;
}

#botaoLogout{

    background-color: black;
    padding: 10px;
    text-decoration: none;
    margin-left: 10px;
}

#subNavMenu{

    background-color: #FFF;
    padding: 15px;
}

#listaMenu li{

    display: inline;
    text-decoration: none;
    margin-left: 20px;
    
}

#listaMenu li > a{

    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: NunitoExtrabold;
    
}

.itemAtivo{

    /* color: #c0392b !important; */
    color: #9c1d1c !important;
}

#conteudo{

    /* border: 1px solid; */
}

.sessao-pagina{

    background-color: #FFF !important;
    padding: 20px;
}